@use 'assets/styles/' as *;

.button-tooltip {
	.ant-tooltip-inner {
		text-align: center;
	}
}

.MainButton {
	padding: 29px 10px;
	background: $color-gray;
	box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.25) inset;
	border: 0;
	border-radius: 10px;
	@include font(25px, bold);
	color: #858585;
	cursor: pointer;
	outline: 0;

	&:hover {
		opacity: 0.7;
	}

	&___disabled {
		opacity: 0.3;
		background: white;
		outline: 3px solid #b2b2b2;
		box-shadow: none;
		pointer-events: none;
	}

	&___loading {
		opacity: 0.3;
		box-shadow: none;
		pointer-events: none;
	}

	&___wide {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	&___hidden {
		opacity: 0;
		pointer-events: none;
	}

	&_shortcutKey {
		display: block;
		margin-top: 3px;
		@include font($size: 15px);
	}

	&_spinner {
		line-height: 100%;
	}
}

.Button {
	@include font(1rem, 700);
	min-width: 100px;
	padding: 10px 16px;
	display: inline-block;
	color: white;
	background-color: white;
	border-radius: $border-radius;
	cursor: pointer;
	transition: 300ms;

	&.flex {
		@include flex(center, center);
	}

	&.block {
		display: block;
		width: 100%;
	}

	&.loading {
		opacity: 0.8;
		pointer-events: none;
	}

	&.disabled {
		opacity: 0.5;
		background-color: $color-dark-gray !important;
		border: 0 !important;
		box-shadow: none !important;
		cursor: default;
		pointer-events: none;
	}

	&.default {
		color: #23252e;
		border: 1px solid;
	}

	&.primary {
		background-color: $color-primary;
		border: 1px solid $color-primary;
		box-shadow: 0px 5px 20px 3px $color-primary-05;

		&:hover {
			transition: 300ms;
			box-shadow: 0px 5px 20px 3px $color-primary-08;
		}
	}

	&.secondary {
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		box-shadow: 0px 5px 20px 3px $color-secondary-05;

		&:hover {
			transition: 300ms;
			box-shadow: 0px 5px 20px 3px $color-secondary-08;
		}
	}

	.icon-left {
		margin-right: 5px;
	}

	.icon-right {
		margin-left: 5px;
	}

	.spinner {
		line-height: 100%;
	}
}
