@use 'assets/styles' as *;

.FooterButtons {
	margin-top: 1.5em;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	column-gap: 1em;

	.NavigationButton_wrappers {
		display: flex;
		align-items: stretch;
		column-gap: 1em;
	}

	.FooterButtons_submitGroup {
		width: 25%;
		display: flex;
		align-items: center;
		column-gap: 12px;
	}

	.CartButton {
		flex: 1;
		width: auto !important;
	}
}

.EwtCalculatorButton {
	flex-shrink: 0;
	width: 68px;
	height: 68px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid $color-primary;
	border-radius: $border-radius;
	background-color: $color-primary;
	color: white;
	font-size: 42px;
	cursor: pointer;
	outline: 0;

	&:hover {
		opacity: 0.9;
	}

	&.disabled {
		background-color: white;
		border-color: #b2b2b2;
		color: #b2b2b2;
		cursor: default;
		pointer-events: none;
	}
}

.NavigationButton {
	background: $color-gray;
	box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.25) inset;
	border: 0;
	border-radius: $border-radius;
	@include font(30px, bold);
	color: #858585;
	padding: 33px 40px;
	cursor: pointer;
	outline: 0;

	&:hover {
		opacity: 0.7;
	}

	&.disabled {
		opacity: 0.3;
		background: white;
		border: 3px solid #b2b2b2;
		pointer-events: none;
		box-shadow: none;
	}

	.spinner {
		line-height: 100%;
	}
}
