.ViewTransactionModal_field {
	margin-bottom: 16px;
}

.ViewTransactionModal .ant-table-wrapper {
	margin-bottom: 16px;
}

.ViewTransactionModal_label {
	display: block;
	color: #9aa0a6;
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 4px;
}

.ViewTransactionModal_value {
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	padding: 8px 12px;
	font-size: 14px;
	color: #333;
}
