@use 'assets/styles' as *;

.Main {
	background-color: white;
}

.EJJYModal {
	.ant-modal-confirm-title {
		font-size: 20px !important;
	}

	.ant-modal-confirm-content {
		font-size: 16px !important;
	}

	.ant-modal-confirm-btns .ant-btn {
		height: 40px !important;
		font-size: 20px !important;
	}
}

.Cart {
	height: 750px !important;
	padding: 20px;
}

.CartModal {
	.ant-modal-title {
		font-size: 22px !important;
		font-weight: bold;
		margin-left: 20px;
	}
}
