@use 'assets/styles/' as *;

.ShowDataButtonContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.ShowDataBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.LockIcon {
	font-size: 48px;
	color: $color-primary;
}

.BranchMachinesContent {
	&.blurred {
		filter: blur(20px);
		pointer-events: none;
	}

	&.authorized {
		filter: none;
		pointer-events: auto;
	}
}
